
.masthead{
    padding-top: 120px;
    background-color: #ccc;
    color: white;
    text-align: center;
    padding-bottom: 80px;
    min-height: 500px;
}


#conheca{
    padding-top: 100px;
    background-color: #d5d5d5;
    min-height: 500px;
}

#creditos{
    padding-top: 100px;
    background-color: #d5d5d5;
    min-height: 500px;
}

.footer-above{
    padding: 100px 0 100px 0;
    background-color: #252525;
    color: white;
}

.footer-bellow{
    padding: 20px;
    background-color: #171717;
    color: white;
}

/**
*===============================================*
*stylesheet menu
*
*===============================================*
*/



/**
*===============================================*
*stylesheet home
*
*===============================================*
*/

